.PageAccueil {
  --ion-background-color: #283C70;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Trait {
    border-top: 3px solid rgb(255, 255, 255);
    width: 300px;
    margin-inline: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 3%;
}

.logo{
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
}

.button {
  text-align: center;
  color: #fff;
  background-color: rgb(214, 214, 214);
}

.button1 {
  width: 10%;
  height: 5%;
  border-radius: 10px;
  color: #283C70;
  border: none;
  font-weight: bold;
}