.PageAccueil {
  --ion-background-color: rgba(40, 60, 112, 0.910);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo1 {
  width: 300px;
  height: 300px;
  margin: 20vh auto 20% auto;
}

.button {
  text-align: center;
  color: #fff;
  background-color: rgb(214, 214, 214);
  border-radius: 30px;
  color: #959eb8;
  border: none;
  font-weight: bold;
}

.button1 {
  width: 15vw;
  height: 20vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 30px;
  color: #000000;
  border: none;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}