.contenter {
  --ion-background-color: #283C70;
}

.blocs {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  justify-content: center;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 50px;
  font-family: Tahoma;
}

.button {
  text-align: center;
}

  .button1 {
  border-radius: 10px;
  color: #283C70;
  border: none;
  font-weight: bold;
}